<p id="notice"><%= notice %></p>

<h1>Generated Poems</h1>
<h2>Randomly generated Markov-Poems based on Google Searches</h2>
<% @poems.each do |poem| %>
  <%= render poem, index: true %>
<% end %>
<div class="center">
	<%= will_paginate @poems, renderer: BootstrapPagination::Rails %>
</div>
<br>

<%= link_to 'New Poem', new_poem_path %>
